<div
  class="fixed bottom-5 left-5 w-12 h-12 bg-[var(--btn-regular-bg)] dark:bg-[var(--btn-content)] text-[var(--btn-content)] text-2xl leading-[3rem] text-center rounded-full cursor-pointer shadow-md hover:shadow-lg transition-transform duration-300 ease-in-out z-[100] flex items-center justify-center"
  id="musicButton"
>
  <img
    src="https://api.iconify.design/fluent:music-note-off-2-24-filled.svg"
    class="w-6 h-6"
  />
</div>

<audio id="backgroundMusic" loop>
  <source src="/music/エンドロール・シンドローム.mp3" type="audio/mp3" />
</audio>

<style>
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 2s linear infinite;
  }
</style>

<script>
  const musicButton = document.getElementById("musicButton") as HTMLDivElement;
  const backgroundMusic = document.getElementById(
    "backgroundMusic"
  ) as HTMLAudioElement;
  const musicIcon = musicButton.querySelector("img") as HTMLImageElement; // 获取音乐图标元素

  // 初始化播放状态
  let isPlaying = false;

  // 点击事件处理
  musicButton.addEventListener("click", () => {
    if (isPlaying) {
      // 如果正在播放，则暂停
      backgroundMusic.pause();
      musicButton.classList.remove("animate-spin-slow"); // 移除旋转动画
      musicIcon.src =
        "https://api.iconify.design/fluent:music-note-off-2-24-filled.svg"; // 切换为停止图标
      isPlaying = !isPlaying;
    } else {
      // 如果已暂停，则继续播放
      backgroundMusic.play().then(() => {
        musicButton.classList.add("animate-spin-slow"); // 添加旋转动画
        musicIcon.src =
          "https://api.iconify.design/fluent:music-note-2-24-filled.svg"; // 切换为播放图标
        isPlaying = !isPlaying;
      });
    }
  });
</script>
